<div class="main-container">
  <h1>Tasks List</h1>
  <div class="btn-new-task">
    <%= link_to 'new task', tasks_new_path %>
  </div>

    <% @tasks.each do |task| %>
      <div class="tasks-list">
        <h2 class="task-title">
          <%= link_to task.title, task_path(task) %>
          <div class="status-color"></div>
        <h2>
           <%# <%= form_for(@task) do |f| %>
            <%# <%= f.label :completed %>
            <%# <%= f.check_box :completed %>
          <%# <% end  %>
        <%# <div id="details" class="details-box">
          <p><%= task.details %>
      </div>
    <%end%>
</div>
