<div class="main-container">

  <div class="task-show">
    <h2><%= @task.title %></h2>
    <%= form_for(@task) do |f| %>
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    <% end  %>
    <h5 class="btn-edit-task"><%= link_to "Edit Task", go_edit_path %><h5>
    <h4><%= @task.details %></h4>

    <%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/tasks/1">
    </a>
  </div>

  <div class="links-show">
    <%= link_to "Back to list", tasks_path %>
  </div>
</div>
